
.bg{
    background-color: #403124;
}

.headerSection{
    border: inset;
    height: 100px;
}
.headerSection ul li{
    display: inline-block;
}
.results{
    border: #e5b081 outset;
    background-color: #ffc490;
    color: #403124;
}
.results h4, .results ul li, .results p{
    color: #403124;
}

.image{
    width: 960px;
    height: 720px;
    margin: 0 auto;
    border: outset #ffc490;
    background-color: #ffffff;
    background-image: url("../images/images/logo_03.png");
    background-repeat: no-repeat;
    background-position: top;

}

.detailsPage {
    width: 960px;
    height: 720px;
    margin: 0 auto;
    border: outset #403124;
}

.login, .signUp{
    margin-top: 360px;
}
#drinkButton{
    float: left;
}