
.bg{
    background-color: #403124;
}


.image{
    width: 960px;
    height: 720px;
    margin: 0 auto;
    border: outset #ffc490;
    background-color: #ffffff;
    background-image: url("../images/images/logo_03.png");
    background-repeat: no-repeat;
    background-position: top;

}
.login, .signUp{
    margin-top: 360px;
}